
@media screen and (max-width: 1680px) {
  .responsive {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1680px) {
  .responsive {
    min-width: 450px;
    min-height: 420px;
    white-space: nowrap;
  }
}